<div class='container'>
    
   
    <ul>
        <li>
            IKLnr: {{ cursist.IKLnr }}
        </li>
        <li>
            Voornaam: {{ cursist.voornaam }}
        </li>
        <li>
            Familienaam: {{ cursist.familienaam }}
        </li>
        <li>
            adres: {{ cursist.adres }}
        </li>
        <li>
            email: {{ cursist.email }}
        </li>
        <li>
            foto: {{ cursist.foto }}
        </li>
        
    </ul>
    <h2>Gevolgde opleidingen: </h2>
    <ul>
        <li ng-repeat='opleiding in cursist.opleidingen'>
            <ul>
                <li>{{ opleiding.opleidinginfo.oplCode }} - {{ opleiding.opleidinginfo.naam }}</li>
                <li>Begindatum: {{ opleiding.startdatum | date : 'd-MM-yyyy' : '+0200' }}</li>
                <li>Einddatum: {{ opleiding.einddatum | date : 'd-MM-yyyy' : '+0200' }}</li>
                <li>Geslaagd: {{ opleiding.geslaagd }}</li>
                <li><button name="removeBtn" class="btn btn-default" ng-click="deleteGevolgde(cursist._id, opleiding._id)">Verwijder</button></li>
            </ul>
             
        </li>
    </ul>
    
    <div ng-if="melding != ''" class="alert alert-danger">{{ melding }}<a href='#!/cursisten/{{ cursist.IKLnr }}' class="close" data-dismiss="alert" ng-click="emptyAlert">&times;</a></div>
    <h2>Voeg een te volgen cursus toe: </h2>
    <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR --> 
                        <select class="form-control input-lg text-center" ng-model="formData.oplCode">
                            <option ng-repeat='opleiding in opleidingen' value='{{ opleiding.oplCode }}'>{{ opleiding.naam }}
                                
                            </option>
                        </select>
                        
          
                    <input id="startdate" type="date" class="form-control input-lg text-center"  ng-model="formData.startdatum">
                   
             
               </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createGevolgde()">Voeg toe</button>
                </form>
            </div>
        </div>
    
</div>
 
