<div class='container'>
    
   
  
    <form ng-model="cursist">
        <div class="form-group">
        <label class="col-md-1" for="IKLnr">IKLnr</label>       
        <input disabled type="text" name="IKLnr" value="{{ cursist.IKLnr }}">
         </div>
         <div class="form-group">
         <label class="col-md-1" for="voornaam">voornaam</label>
        <input ng-model="cursist.voornaam" type="text" name="voornaam" value="{{ cursist.voornaam }}">
         </div>
         <div class="form-group">
         <label class="col-md-1" for="familienaam">familienaam</label>
        <input ng-model="cursist.familienaam" type="text" name="familienaam" value="{{ cursist.familienaam }}">
         </div>
         <div class="form-group">
         <label class="col-md-1" for="adres">adres</label>
        <input ng-model="cursist.adres" type="text" name="adres" value="{{ cursist.adres }}">
         </div>
         <div class="form-group">
         <label class="col-md-1" for="email">email</label>
        <input ng-model="cursist.email" type="text" name="email" value="{{ cursist.email }}">
         </div>
         <div class="form-group">
         <label class="col-md-1" for="foto">foto</label>
        <input ng-model="cursist.foto" type="text" name="foto" value="{{ cursist.foto }}">
         </div>
        <button type="submit" ng-click="editCursist()" class="btn btn-default">Wijzigen</button>
    </form>
    <h2>Gevolgde opleidingen: </h2>
    <ul>
        <li ng-repeat='opleiding in cursist.opleidingen'>
            <ul>
                <li>{{ opleiding.opleiding.oplCode }} - {{ opleiding.opleiding.naam }}</li>
                <li>Begindatum: {{ opleiding.startdatum | date : 'd-MM-yyyy' : '+0200' }}</li>
                <li>Einddatum: {{ opleiding.einddatum | date : 'd-MM-yyyy' : '+0200' }}</li>
                <li>Geslaagd: {{ opleiding.geslaagd }}</li>
                <li><button name="removeBtn" class="btn btn-default" ng-click="deleteGevolgde(cursist._id, opleiding._id)">Verwijder</button> <button name="removeBtn" class="btn btn-default" ng-click="maakGeslaagd(cursist._id, opleiding._id)">Toggle geslaagd</button></li>
            </ul>
             
        </li>
    </ul>
    
    <div ng-if="melding != ''" class="alert alert-danger">{{ melding }}<a href='#!/cursisten/{{ cursist.IKLnr }}' class="close" data-dismiss="alert" ng-click="emptyAlert">&times;</a></div>
    <h2>Voeg een te volgen cursus toe: </h2>
    <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR --> 
                        <select class="form-control input-lg text-center" ng-model="formData.id">
                            <option ng-repeat='opleiding in opleidingen' value='{{ opleiding._id }}'>{{ opleiding.naam }}
                                
                            </option>
                        </select>
                        
          
                    <input id="startdate" type="date" class="form-control input-lg text-center"  ng-model="formData.startdatum">
                   
             
               </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createGevolgde()">Voeg toe</button>
                </form>
            </div>
        </div>
    
</div>
 
