<div class="container" >

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Bestaande opleidingen <span class="label label-info">{{ opleidingen.length }}</span></h1>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="opleiding in opleidingen">
                    
                        <button name="removeBtn" class="btn btn-default" ng-click="deleteCur(opleiding._id)">Verwijder</button>
                          <a name="detailBtn" class="btn btn-default" href="/#!/opleidingen/{{ opleiding.IKLnr }}">Details</a>
                        <!--<span ng-repeat="opleiding in opleiding.opleidingen">({{ opleiding }})</span>-->
                         {{ opleiding.familienaam + " " + opleiding.voornaam }}
                   
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="familienaam" ng-model="formData.familienaam">
                         <input type="text" class="form-control input-lg text-center" placeholder="voornaam" ng-model="formData.voornaam">
          
                    <input type="text" class="form-control input-lg text-center" placeholder="adres" ng-model="formData.adres">
                   
              <input type="text" class="form-control input-lg text-center" placeholder="email" ng-model="formData.email">
               <input type="text" class="form-control input-lg text-center" placeholder="foto" ng-model="formData.foto">
                <!--<input type="text" class="form-control input-lg text-center" placeholder="opleiding" ng-model="formData.opleidingen">-->
                  
               </div>
                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createCur()">Add</button>
                </form>
            </div>
        </div>

    </div>